/* CSS declarations go here */

body {
  background-color: whitesmoke;
  font-family: Roboto, sans-serif;
  padding: 10%;
}

.main-navigation {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 25px auto;
}

.browse-container {
  display: flex;
  justify-content: space-around;
}

.browse-icon-button {
  flex: 20%;
}

.browse-event-card {
  flex: 60%;
}
