/* CSS declarations go here */

body {
  background-color: whitesmoke;
  font-family: Roboto, sans-serif;
}

.nav-menu-wrapper {
  margin: 0 auto;
}

.nav-menu-item {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.browse-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.meetup-info-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.browse-icon-button {
  flex-basis: 15%;
}

.browse-meetup-card {
  flex: 85%;
  text-align: center;
}

.no-meetups-message {
  text-align: center;
}

.create-meetup-container {
  background-color: white;
}

.create-meetup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.MeetupInfoCard {
  margin-top: 50px;
}

.meetups-list {
  overflow: auto;
  height: 400px;
}

.app-wrapper {
  height: 100vh;
}

.root {
  height: 100vh;
}

.logged-in-wrapper {
  background-color: white;
}

.sort-buttons-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 61, 0);
  padding: 4px 0;
}

.sort-meetups-buttons {
  background-color: rgb(255, 61, 0) !important;
  color: white !important;
  flex-basis: 33.5%;
}

.meetups-list-container {
  overflow: auto;
}