/* CSS declarations go here */

body {
  background-color: whitesmoke;
  font-family: Roboto, sans-serif;
}

.nav-menu-wrapper {
  margin: 25px auto;
}

.nav-menu-item {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.browse-container {
  display: flex;
  align-items: center;
}

.browse-icon-button {
  flex-basis: 15%;
}

.browse-meetup-card {
  flex: 85%;
}

.create-meetup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 10px 0;
}